/* tablet ----------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  .nav-links {
    display: none;
  }
  .openbtn {
    display: inline;
  }
  #allproducts .container {
    display: block;
  }
  .container .item {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }
  .container li:hover {
    transform: scale(1);
    color: red;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: red;
  }
  #allproducts .container img{
    height: 220px;
    width: 220px;
  }
  .input-container {
    position: relative;
    left: 37%;
    width: 36%;
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .form-card1 {
    width: 80%;
    position: relative;
    left: 76px;
  }
}

@media only screen and (max-width: 472px) {
  .banner .slider {
    width: 60px;
    height: 100px;
    left: calc(50% - 30px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(180px);
  }
  nav .logo {
    font-size: 1.25rem;
  }
  .banner .content h1 {
    display: none;
  }
  .banner .content .author {
    display: none;
  }
  #allproducts .heading {
    font-size: 1.25rem;
    text-shadow: none;
  }
  .container .item {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
  }
  .container li:hover {
    transform: scale(1);
    color: red;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: red;
  }
  .fig-head {
    font-size: 1.25rem;
    text-shadow: none;
    padding-top: 60px;
  }
  .fig-slide img {
    width: 200px;
    height: 200px;
    transition: transform 0.5s;
    padding: 8px;
  }
  .bg .track-head {
    font-size: 1.25rem;
    text-shadow: none;
  }
  .input-container {
    position: relative;
    left: 37%;
    width: 36%;
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .input{
   font-size: 10px;
   letter-spacing: 1px;
  }
 
  .contact-head {
    font-size: 1.35rem;
    text-shadow: none;
  }
  .form-card1 {
    width: 80%;
    position: relative;
    left: 40px;
  }
  .footer {
    justify-content: space-evenly;
  }
  .footer img {
    position: relative;
    width: 80px;
    height: 50px;
    padding-right: 0;
  }
  .footer h2 {
    font-size: 1em;
    position: relative;
    padding: 6px;
    left: 0;
    top: 10px;
  }

  .footer li {
    padding: 4px;
  }
}

/* small laptops ------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(300px);
  }
  .nav-links li {
    font-size: 13px;
  }
  .banner .content h1 {
    position: relative;
    left: 4%;
    font-size: 7.5rem;
  }
  .banner .content .author {
    position: relative;
    right: 4%;
    font-size: 1rem;
  }
  .container img {
    height: 150px;
    width: 150px;
    justify-content: space-evenly;
  }
  .bg .input-container input {
    position: relative;
    width: 140%;
    height: 40px;
    right: 29%;
  }
  .bg .input-container .icon {
    display: inline;
    left: 94%;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
  }
}

/*above 1440 for 4k and above------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 2000px) {
  nav .logo {
    font-size: 3.5em;
  }
  .nav-links li {
    font-size: 2em;
  }
  .banner .content h1 {
    position: relative;
    right: 27%;
    font-size: 13rem;
  }
  .banner .content .author {
    position: relative;
    left: 20%;
    font-size: 1rem;
  }
  .bg .input-container input {
    position: relative;
    width: 180%;
    height: 60px;
    left: 6%;
  }
  .bg .input-container .icon {
    display: inline;
    left: 168%;
  }
  .contact .form-card1 .form-card2 .form {
    gap: 30px;
  }
}
